.contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
  
  .contactLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between icon and text */
    background-color: #a020f0;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .contactLink:hover {
    background-color: #8300d4;
  }